.track-container {
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color:#ffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px;
    padding: 20px;
    max-width: 800px;
}
.track-info {
    display: flex;
    align-items: center;
}
.track-img {
   width: 150px;
   height: 150px;
    border-radius: 8px;
    margin-right: 20px;
}
.track-details {
   max-width: 400px;

}
.track-name{
    font-size: 1em;
    font-weight: bold;
    color: green;
    text-decoration: none;
}
.artist-name {
    font-size: 1.2em;
    color: #555;
    margin: 5px 0;
}
.popularity {
    font-size: 1em;
    color: #444;
    margin: 10px;

}
.track-album{
    font-size: 1em;
    color: #666;    
    margin: 5px 0;

}
.release-date{
    font-size: 1em;
    color: #666;    
    margin: 5px 0;

}